@import "src/styles/vars";


    .projects__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
    }

    .projects__title {
        font-family: $fontFamily;
            padding: 2rem;
            border-radius: 27px;
            background: #e5fa6c;
            box-shadow: inset 5px 5px 12px #626c2e,
                        inset -5px -5px 12px #ffffaa;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 40%;
            color: rgb(255, 255, 255);
            text-shadow: 
  1px 1px 1px #b8b8b8,
  1px 2px 1px #b8b8b8,
  1px 3px 1px #b8b8b8,
  1px 4px 1px #b8b8b8,
  1px 5px 1px #bbffff,
  1px 6px 1px #b8b8b8,
  1px 7px 1px #b8b8b8,
  0 1px 1px rgba(68,68,68,.3),
  0 5px 3px rgba(68,68,68,.2),
  0 10px 4px rgba(68,68,68,.2),
  0 15px 8px rgba(68,68,68,.2),;
  font-size: 4rem;
            background-color: $yellowColor;
    }

    @media (max-width: 850px) {
        .projects__title{
            
            font-family: $fontFamily;
            padding: 2rem;
            font-size: 2.5em;
            border-radius: 27px;
            background: #e5fa6c;
            box-shadow: inset 5px 5px 12px #626c2e,
                        inset -5px -5px 12px #ffffaa;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 40%;
            color: rgb(255, 255, 255);
            
            font-size: 3rem;
            background-color: $yellowColor;
            
           
    }

    }