@import "../../../styles/vars";

    .competence {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 80%;
    }
    .skills__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: $fontFamily;
        
    }

    .skill__title {
        font-family: $fontFamily;
            padding: 2rem;
            
            border-radius: 27px;
            background: #e5fa6c;
            box-shadow: inset 5px 5px 12px #626c2e,
                        inset -5px -5px 12px #ffffaa;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 40%;
            color: white;
            text-shadow: 
            1px 1px 1px #b8b8b8,
            1px 2px 1px #b8b8b8,
            1px 3px 1px #b8b8b8,
            1px 4px 1px #b8b8b8,
            1px 5px 1px #bbffff,
            1px 6px 1px #b8b8b8,
            1px 7px 1px #b8b8b8,
            0 1px 1px rgba(68,68,68,.3),
            0 5px 3px rgba(68,68,68,.2),
            0 10px 4px rgba(68,68,68,.2),
            0 15px 8px rgba(68,68,68,.2),;
            font-size: 4rem;
            background-color: $yellowColor;
       
    }

    .bar {
        border-radius: 16px;
background: #cfcfcf;
box-shadow: inset 5px -5px 0px #535353,
            inset -5px 5px 0px #e2e2e2;
        width: 20rem;
        height: 26px;
        position: relative;
        margin-top: -1rem;
    }
    .box {
        width: 60%;
        height: 68px;
        margin: 0.2rem 0rem;
    }
    .title {
        font-weight:lighter;
        color: #551A8B;
        text-align: justify;
        
    }
    .bar:before {
        position: absolute;
        content: "";
        left: 6px;
        top: 5px;
        background: $yellowColor;
        box-shadow: 5px 1px 10px #acacac, -5px 2px 1px #c5c5c5, inset 3px 3px 5px #b9b9b9, inset -1px -3px 7px #a8a8a8;

        height: 54%;
        border-radius: 55px;
    }
    #html:before {
        width: 60%;
    }
    #css:before {
        width: 50%;
    }
    #js:before {
        width: 50%;
    }
    #react:before {
        width: 50%;
    }
    #nodeJs:before {
        width: 30%;
    }
    #sql:before {
        width: 25%;
    }

    @media (max-width: 850px) {
        .skill__title{
            font-family: $fontFamily;
            padding: 2rem;
            font-size: 4em;
            border-radius: 27px;
            background: #e5fa6c;
            box-shadow: inset 5px 5px 12px #626c2e,
                        inset -5px -5px 12px #ffffaa;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 80%;
            color: rgb(255, 255, 255);
    }

   
}
    @media (max-width: 450px) {
        .skill__title{
            font-family: $fontFamily;
            padding: 2rem;
            font-size: 2em;
            border-radius: 27px;
            background: #e5fa6c;
            box-shadow: inset 5px 5px 12px #626c2e,
                        inset -5px -5px 12px #ffffaa;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 80%;
            color: rgb(255, 255, 255);
    }

   
}