@import "../../../styles/vars";

    .competence {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 80%;
    }
    .skills__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: $fontFamily;
    }

    .skill__title {
        font-family: $fontFamily;
        padding: 2rem;
        
        box-shadow: 1px 10px 10px #cfcfcf, -5px 10px 10px #808080, inset 5px 1px 10px #f2f5f3,
            inset -1px -5px 3px #e8e9e9;

        width: 50%;
        --couleur: 0, 0, 0;
       

        color: white;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #acacac, 0 3px 0 #a0a0a0, 0 4px 0 #9b9a9a, 0 5px 0 #888787,
            0 6px 1px rgba(var(--couleur), 0.1), 0 0 5px rgba(var(--couleur), 0.1), 0 1px 3px rgba(var(--couleur), 0.3),
            0 3px 5px rgba(var(--couleur), 0.3), 0 5px 10px rgba(var(--couleur), 0.25),
            0 10px 10px rgba(var(--couleur), 0.2), 0 20px 20px rgba(var(--couleur), 0.15);
        font-size: 3em;
    }

    .bar {
        border-radius: 50px;
        background: linear-gradient(145deg, #e0e0e0, #ffffff);
        box-shadow: inset 4px -4px 8px #91a8b3, inset -4px 4px 8px #8a9eaa;
        width: 20rem;
        height: 26px;
        position: relative;
        margin-top: -1rem;
    }
    .box {
        width: 60%;
        height: 68px;
        margin: 0.2rem 0rem;
    }
    .bar:before {
        position: absolute;
        content: "";
        left: 6px;
        top: 5px;
        background: rgb(108, 141, 250);
        box-shadow: 5px 1px 10px #adadad, -5px 2px 1px #e6e6e6, inset 3px 3px 5px #f2f5f3, inset -1px -3px 7px #e8e9e8;

        height: 54%;
        border-radius: 55px;
    }
    #html:before {
        width: 60%;
    }
    #css:before {
        width: 50%;
    }
    #js:before {
        width: 50%;
    }
    #react:before {
        width: 50%;
    }
    #nodeJs:before {
        width: 30%;
    }
    #sql:before {
        width: 25%;
    }

    @media (max-width: 600px) {
        .skill__title{
        padding: 2rem;
            font-size: 2.5em;
            
            --couleur: 0, 0, 0;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            width: 40%;
            color: rgb(255, 255, 255);
            box-shadow:none
    }

    }