@import "../../../styles/vars";

.myFoto {
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    text-align: center;
    border: 5px solid grey;
    position: absolute;
    top: 10%;
}
.container__foto {
    display: inline;
}


    

@media (max-width: 1350px) {
    .myFoto {
        top: 12%;
        left: 10%;
        height: 10rem;
        width: 10rem;
    }
}

@media (max-width: 850px) {
    .myFoto {
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        text-align: center;
        border: 5px solid grey;
        position: absolute;
        top: 6%;
        left: 43%;
    }
}
@media (max-width: 650px) {
    .myFoto {
        position: absolute;
        left:35%;
        
    }
}
