@import '../../styles/vars';

html,
body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(182, 182, 182);
    width: 100%;
}

.home__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.home__down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: wrap;
    background-color: $yellowColor;
    padding-top: 3%;
}
.home__container__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
