@import "src/styles/vars";





.title__container {
        
        background-color: black;
        padding: 14%;
        display: flex;
        justify-content: center;
       
        
        display: flex;
        flex-direction: row;
    }
    .title__name {
        font-size:3.5rem;
        padding: 1rem;
        color: rgb(224, 231, 243);
        margin: 75px 0px 0px 5px;
        
    }
    .title__para {
        color: $yellowColor;
        margin: 95px 0px 0px 5px;
        font-size: 2rem;
        padding-top: 0.8rem;
        
    }


@media (max-width: 1350px) {
    .title__container {
        display: flex;
        flex-direction: column;
        animation: none;
        justify-content: center;
        width: 100%;
    }

    .title {
        &__container {
            background-color: black;
            padding: 3%;
            display: flex;
            justify-content: center;
        }
        &__name {
            font-size: 1.5rem;
            padding: 1rem;
            color: rgb(224, 231, 243);
        }

        &__para {
            color: $yellowColor;

            font-size: 1.3rem;
        }
    }
@media (max-width: 850px) {
    .title__container {
        display: flex;
        flex-direction: column;
        animation: none;
        justify-content: center;
        width: 100%;
    }

    .title {
        &__container {
            background-color: black;
            padding: 3%;
            display: flex;
            justify-content: center;
        }
        &__name {
            font-size: 1.5rem;
            padding: 10rem  0;
            color: rgb(224, 231, 243);


        }

        &__para {
            color: $yellowColor;
            margin-right: 5%;
            font-size: 1.3rem;
            margin-top: 0;
            margin-bottom: 2rem;

        }
    }
}}
    

