@import "../../../../styles/vars";
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap');

.full__card--container{
    display: flex;
   flex-direction: column;
   margin: 5rem;
   
   align-items: center;
}

    .card__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem 0;
        width: 40%;
        text-align: center;
        border: 10px solid $yellowColor;
        margin: 1rem 1rem 2rem 1rem;
        background-color: black;
        border-radius: 10%;
       
    &--converter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem 0;
        width: 40%;
        text-align: center;
        border: 10px solid $yellowColor;
        margin: 1rem 1rem 2rem 1rem;
        background-color: black;
        border-radius: 10%;
    }
    }
    .card__container--img{
        height: 50%;
    }
    .card__img {
        border-radius: 1rem;
        width: 90%;
       
    }
    .card__title {
        --couleur: 0, 0, 0;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        font-family: "Indie Flower", cursive;
        color: rgb(0, 0, 0);
        border: 3px solid #fdfeff;
        border-left: 0;
        border-right: 0;
        font-size: 2.8rem;
        padding: .5rem;
        color: white;
        
        &--converter{
            --couleur: 0, 0, 0;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        font-family: 'Hind', sans-serif;
        color: rgb(0, 0, 0);
        border: 3px solid #ffffff;
        border-left: 0;
        border-right: 0;
        font-size: 2.8rem;
        padding: .5rem;
        color: white;
        }
    }
    .card__para {
        color: #000000;
        padding: 1rem 1rem;
        font-family: $fontFamily;
        color: white;
    }
    .linkto {
        text-decoration: none;
        color: #fbfdff;
        padding: 0.2rem;
        font-size: 2em;
        &:hover{
            color: $yellowColor;
        }
        &__converter{
            color:#fbffff;
            text-decoration: none;
            padding: 0.2rem;
            font-size: 2em;
            &:hover{
                color: $yellowColor ;
            }
        }

    }
    
    @media (max-width:850px) {
        .card__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
            border: 10px solid $yellowColor;
            margin: 1rem 1rem 2rem 1rem;
           
            border-radius: 10%;
    
        &--converter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
            border: 10px solid $yellowColor;
            margin: 1rem 1rem 2rem 1rem;
            
            border-radius: 10%;
        }
        }


    }