@import "src/styles/vars";

.nav {
    &__container {
       
        // border-radius: 1rem;
        margin-bottom: 4rem;
        display: flex;
    }
    &__para {
        text-decoration: none;
        font-size: 2.5em;
        padding: 0.5rem 2.5rem;
        color: #551A8B;
        font-family: $fontFamily;

    }
}

.animation-para-end:nth-child(2n + 1) {
    text-decoration: none;
    color: rgb(3, 3, 3);
}
.animation-para-end:nth-child(2n + 0) {
    text-decoration: none;
    color: rgb(7, 7, 7);
}

@media (max-width:850px){
    .nav__para{
        padding: 2rem 1rem  0 1rem;
    }
}

@media (max-width:450px){
    .nav__container{
        display: flex;
        flex-direction: column;        
    }
}